.form
{
    display: grid;
    grid-template-columns: [start] auto  1fr auto auto [end];
    align-items: center;
    gap: 30px 30px;
    font-size: 14px;
    line-height: 24px;
}

.title
{
    justify-self: left;
}
.description
{
    grid-column: start/end;
}
.rating 
{
    display: flex;
    gap: 20px;
}

.info
{

    margin-left: 15px;
}

.submit{
   
	grid-column: start/end;
}
.reviewForm{
	gap: 20px 30px;
}
@media (max-width:1150.99px) {
    .rating{
		grid-column: start / end;
	}
}
@media  (max-width: 740px) {
	.form {
		grid-template-columns: [start] 1fr 1fr [end];
	}
	.rating{
		grid-column: start / end;
	}
	.title {
		justify-self: normal;
	}
}

@media  (max-width: 570px) {
	.reviewForm {
		grid-template-columns: [start] 1fr [end];
	}
}
.panel {
	padding: 20px;
	position: relative;
	border-radius: 5px;
	margin-top: 20px;
}

.success {
	background-color: var(--green-light);
}

.error {
	background-color: var(--red-light);
}

.error .close path {
	stroke: var(--red);
}

.successTitle {
	font-weight: bold;
}

.close {
	position: absolute;
	right: 20px;
	top: 20px;
	cursor: pointer;
}