.sort
{
    display: inline-block;
    display: grid;
    grid-template-columns: auto auto;
    gap: 40px;
}
.SortIco
{
    display: none;
}
.active{
   font-weight: bold;
   color: var(--priamry);
}
.active .SortIco{
    display: block;
    margin-right: 8px;
}

.sort span
{
    display: grid;
    grid-template-columns: 20px 1fr;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}